# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

backend/uploads/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Testing
.pytest_cache/
.coverage

# Build
build/
dist/

# Node
node_modules/

# Next.js
.next/

# Docker
*.pid